.teachSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1270px;
  width: 100%;
  height: 412px;
  margin: 80px 0px;
}

.teacher {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 560px !important;
  margin-left: 40px;
  margin: 0px !important;
}

.teachSectionTitle {
  font-size: 40px;
  font-weight: 700;
  color: #2d2f31 !important;
  text-decoration: none !important;
}

.teachSectionImg {
  display: flex;
  width: 670px;
  height: 412px;
}

.section1 {
  width: 325px;
  height: 412px;
  flex-direction: column;
  margin-right: 20px;
}

.section2 {
  width: 325px;
  height: 412px;
  flex-direction: column;
}

.teacherImg {
  width: 325px;
  height: 230px;
  border-radius: 12px;
  margin-bottom: 20px;
  object-fit: cover;
}

.teacherImg1 {
  width: 325px;
  height: 162px;
  border-radius: 12px;
  object-fit: cover;
}

.teacherImg2 {
  width: 325px;
  height: 162px;
  border-radius: 12px;
  margin-bottom: 20px;
  object-fit: cover;
}

.teacherImg3 {
  width: 325px;
  height: 230px;
  border-radius: 12px;
  object-fit: cover;
}

.teachSectionBtn {
  width: 306px;
  height: 52px;
  border-radius: 4px;
  background: #2d2f31;
  font-size: 18px;
  font-weight: 600;
  line-height: 25.2px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.teachSectionContent {
  font-size: 22.5px;
  font-weight: 400;
  color: #2d2f31;
}

  .section1 {
    width: 180px;
    height: 290px;
    flex-direction: column;
    margin-right: 5px;
  }

  .section2 {
    width: 180px;
    height: 290px;
    flex-direction: column;
  }

  .teacherImg {
    width: 170px;
    height: 160px;
    object-fit: cover;
  }

  .teacherImg1 {
    width: 170px;
    height: 100px;
    object-fit: cover;
  }

  .teacherImg2 {
    width: 170px;
    height: 100px;
    object-fit: cover;
  }

  .teacherImg3 {
    width: 170px;
    height: 160px;
    object-fit: cover;
  }

  .teachSectionTitle {
    margin-top: -110px;
    font-size: 30px;
    font-weight: 700;
  }

  .teachSectionContent {
    font-size: 14px;
    font-weight: 400;
  }

  @media screen and (max-width:768px){
    .teachSection{
      display: flex;
      flex-direction: column;
    }
    .teachSectionImg{
      margin: 0 auto;
    }
    .teacher{
      margin: 0 auto;
      padding-top: 140px;
    }
  }