.Companystatistics {
  width: 1207px;
  height: 303px;
  margin: 0 auto;
}
.Companystatistics h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
}
.Statistics {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
}
.Statistica {
  width: 260px;
  height: 202px;
}
.Statistica strong {
  color: rgb(164, 53, 240);
  font-family: SF Pro Display;
  font-size: 49px;
  font-weight: 700;
  line-height: 121.2%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.Statistica h3 {
  color: rgb(45, 47, 49);
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.Statistica p {
  color: rgb(45, 47, 49);
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -2%;
  text-align: center;
}
/* Айпад */
@media (max-width: 768px) {
  .Companystatistics h2 {
    font-size: 24px;
    /* line-height: 30px; */
  }
  .Statistics {
    flex-direction: row;
    gap: 15px;
  }
}

/* Телефоны */
@media (max-width: 480px) {
  .Companystatistics h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .Statistica {
    width: 100%;
    margin-bottom: 20px;
  }
  .Statistica strong {
    font-size: 36px;
  }
  .Statistica h3 {
    font-size: 20px;
  }
  .Statistica p {
    font-size: 20px;
  }
}
