.Companystatistics{
    width: 1207px;
    height: 303px;
    margin: 100px auto;
    gap: 60px;
    padding: 0 20px;
}
.Companystatistics h2{
color: rgb(0, 0, 0);
font: Roboto;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
}
.Statistics{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20;
}
.Statistica{
    width: 260px;
    height: 202px;
    margin-bottom: 100px;
}
.Statistica strong{
color: rgb(164, 53, 240);
font: SF Pro Display;
font-size: 49px;
font-weight: 600;
line-height: 121.2%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.Statistica h3{
color: rgb(45, 47, 49);
font: SF Pro Display;
font-size: 17px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
.Statistica p{
color: rgb(45, 47, 49);
font-family: SF Pro Display;
font-size: 16px;
font-weight: 500;
line-height: 150%;
letter-spacing: -2%;
text-align: center;
}


/* @media screen and (max-width: 1024px) {
    .Companystatistics h2{
        font-size: 26px;
        margin-top: 10px;
    }
    .Statistica{
        width: 200px;
    
    }
    .Statistica strong {
        font-size: 38px;

    }
    .Statistica h3{
        margin-top: 10px;
        font-size: 15px;
        font-weight: 700;
    }
} */

@media (max-width: 1024px) {
    .Companystatistics {
        width: 100%;
        height: 100%;
        margin: 50px auto;
        gap: 30px;
    }
    .StatisticsWrap {
        display: flex;
        justify-content: center;
    }
       
    .Statistica {
        /* width: 90%;  */
        height: auto; 
        margin-bottom: 30px;
    }
    .Companystatistics h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .Statistica strong {
        font-size: 36px;
    }
    .Statistica h3 {
        font-size: 15px;
    }
    .Statistica p {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .Companystatistics h2 {
      font-size: 24px;
    }
    .Statistics {
      flex-direction: row;
      gap: 15px;
    }
  }

@media (max-width: 480px) {
    .Companystatistics h2 {
      font-size: 20px;
      line-height: 26px;
    }
    .Statistica {
      width: 100%;
      margin-bottom: 20px;
    }
    .Statistica strong {
      font-size: 36px;
    }
    .Statistica h3 {
      font-size: 20px;
    }
    .Statistica p {
      font-size: 20px;
    }
}