.categories-container {
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  gap: 110px;
  margin-left: 12px;
}

.text-h2h3 h2 {
  margin-bottom: 5px;
  margin-top: 150px;
  margin-left: 85px;
  color: rgb(15, 23, 42);
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.text-h2h3 {
  color: rgb(15, 23, 42);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}

.text-h2h3 h3 {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
  margin-left: 85px;
}

.text-h2h3 button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  width: 90px;
  height: 48px;
  margin-left: 85px;
}

.text-h2h3 button:hover {
  background-color: #eee;
}

.text-h2h3 button img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.text-h2h3 button p {
  font-size: 14px;
  margin-top: 20px;
  color: #333;
}

.filter-label {
  display: flex;
  align-items: center;
  gap: 20px;
}
.filter-label p {
  margin-top: 10px;
}

.modal-content1 {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 1000px;
  opacity: 1;
  margin-left: 90px;
}
.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.modal-content1.open {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  margin-left: 90px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  cursor: pointer;
  color: #333;
  width: 30px;
  background-color: transparent;
}
.topcousescategories2 {
  margin-top: 300px;
  margin-left: 10px;
}

.modal-close-btn:hover {
  color: #ff0000;
}

.star-rating {
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter-rating {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.filter-rating p {
  margin-top: 10px;
}

.star-row {
  display: flex;
  margin: 5px 0;
}

.icon-star {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.star-yellow {
  color: #ffc107;
}

.checkbox-age {
  margin-bottom: 20px;
}

.filter-age {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.filter-age p {
  margin-top: 5px;
}

.checkbox-input {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.checkbox-input input {
  margin-right: 8px;
  margin-top: 12px;
}

.down-filter {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.filter-chevron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.left-raitng {
  z-index: 2;
}
.topcousescategories2 {
  z-index: 1;
}

.modal-overlay {
  display: flex;
}

@media screen and (max-width: 432px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
    margin-left: -30px;
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}

@media screen and (width: 768px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
    margin-left: -30px;
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}

@media screen and (width: 820px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
    margin-left: -30px;
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}

@media screen and (width: 1024px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
    margin-left: -30px;
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}

@media screen and (width: 912px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
    margin-left: 20px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 90px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }

  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}

@media screen and (width: 540px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
    margin-left: -30px;
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}
@media screen and (min-width: 853px) and (max-width: 860px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
    margin-left: -30px;
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}

@media screen and (width: 1280px) {
  .categories-container {
    margin: 0;
    display: grid;
    gap: 10px;
  }
  .modal-content1.open {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin-left: 50px;
  }
  .modal-content1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .left-raitng {
    height: 10px;
    z-index: 2;
  }
  .text-h2h3 {
  }
  .topcousescategories2 {
    margin: 0;
    z-index: 1;
  }
}
