.addCart {
    width: 1340px;
    height: 784px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: -100px;
}

.leftCart {
    width: 880px;
    display: flex;
    flex-direction: column;
}

.leftCart h1 {
    text-align: left;
}

.leftCart h3 {
    text-align: left;
    margin-top: 30px;
}

.aboutCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #a0a4a8;
    margin-top: 30px;
    padding-top: 20px;

}

.aboutCart img {
    width: 138px;
    height: 112px;
}

.description h1 {
    width: 600px;
    text-align: left;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.description p {
    color: #2d2f31;
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    text-align: left;
    margin-left: 20px;
    margin-top: -15px;
}

.estimates {
    width: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.estimates button {
    display: inline-flex;
    align-items: center;
    padding: .4rem .8rem;
    white-space: nowrap;
    background-color: rgb(237, 237, 144);
    color: var(--ribbon-color);
    border: none;
    font-weight: 700;
}

.estimates h3 {
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.4rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 6px;
}

.estimates h4 {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    margin-left: .4rem;
    color: #6a6f73;
    margin-left: .4rem;
    margin-top: 4px;
}


.rating {
    width: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    color: #b4690e;
    font-size: inherit;
}

.cartbelow {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.cartbelow h4 {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #6a6f73;
}

.cartbelow span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #696b6d;
}

.choice {
    display: flex;
    flex-direction: column;
    margin-left: -250px;
    margin-top: -60px;
}

.choice h2 {
    text-align: right;
    color: #5022c3;
    background-color: transparent;
    min-width: auto;
    padding: 0;
    font-size: 18px;
    margin-top: -20px;
}

.choice h3 {
    text-align: right;
    color: #5022c3;
    background-color: transparent;
    min-width: auto;
    padding: 0;
    width: 300px;
    font-size: 18px;
    margin-top: 20px;
}

.price {
    display: flex;
    flex-direction: column;
    margin-top: -85px;
    margin-left: 20px;
}

.price h2 {
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    color: #a435f0;
    margin-bottom: 15px;
}

.price h3 {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
    color: #696b6d;
    margin-top: 7px;
}


/* ------------- */


.cartOrder {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.cartOrder h2 {
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    box-sizing: border-box;
    color: #2d2f31;
    text-align: left;
}

.cartOrder h1 {
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 3.2rem;
    color: #2d2f31;
    text-align: left;
}

.cartOrder span {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    color: #6a6f73;
    text-align: left;
    margin-top: -20px;
}

.cartOrder p {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    color: #2d2f31;
    text-align: left;
}

.cartOrder button {
    width: 300px;
    height: 48px;
    align-items: center;
    border: none;
    cursor: pointer;
    display: inline-flex;
    max-width: 100%;
    min-width: 8rem;
    padding: 0 1.2rem;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: bottom;
    white-space: nowrap;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    background-image: none;
    box-sizing: border-box;
    background-color: #a435f0;
    color: #fff;
}

.cartOrder h3 {
    border-top: 0.5px solid #6a6f73;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1.6rem;
    color: #2d2f31;
    text-align: left;
    margin-top: 15px;
}

.coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 0.5px dashed #6a6f73;
}

.useCoupon {
    width: 432px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.useCoupon h2 {
    font-weight: 400;
    list-style: none;
    font-size: 1.2rem;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space-collapse: preserve;
    text-transform: none;
    color: #6a6f73;
    font-family: var(--font-stack-text);
    line-height: 1.4;
}

.div p {
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.2rem;
    color: #6a6f73;
    text-align: left;
    margin-top: -10px;
}

.cross {
    font-size: 22px;
    margin-top: -5px;
    margin-left: 10px;
    padding-right: 5px;
}

.couponCross {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonInput {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonInput button {
    font-size: 18px;
    border-radius: 2px;
    margin-top: 9px;
    margin-left: -2px;
}

.buttonInput input {
    height: 48px;
}

.between {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.useCoupon h3 {
    margin-top: -28px;
}