.container {
  width: 1300px;
}
.cart-1 {
  display: flex;
  justify-content: space-between;
}
.cart-1 p {
  color: rgb(59, 130, 246);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 10px;
}
.cart-1 h2 {
  color: rgb(15, 23, 42);
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
