.skill {
  margin: 20px auto;
  display: grid;
}

.Course-skills {
  border-top: 2px solid #ccc;
  width: 800px;
  display: grid;
  border-bottom: 2px solid #ccc;
  padding: 20px 0;
}

.skills-container {
  display: grid;
}

.skills p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #334155;
}

.skills h1 {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (width: 768px) {
  .skill {
    margin-top: 290px;
  }
  .Course-skills {
    margin-top: 10px;
    width: 700px;
    border-top: none;
  }
}
@media screen and (width: 820px) {
  .skill {
    margin-top: 290px;
  }
  .Course-skills {
    margin-top: 10px;
    width: 700px;
    border-top: none;
  }
}
@media screen and (width: 1024px) {
  .skill {
    margin-top: 190px;
  }
  .Course-skills {
    margin-top: 10px;
    width: 700px;
    border-top: none;
  }
}
@media screen and (max-width: 377px) {
  .skill {
    margin-top: 120px;
  }
  .Course-skills {
    margin-top: 10px;
    width: 300px;
    font-size: 15px;
    border-top: none;
  }
  .skills p {
    width: 300px;
    font-size: 12px;
  }
}
@media screen and (max-width: 432px) {
  .skill {
    margin-top: 120px;
  }
  .Course-skills {
    margin-top: 10px;
    width: 300px;
    font-size: 15px;
    border-top: none;
  }
  .skills p {
    width: 300px;
    font-size: 12px;
  }
}
@media screen and (width: 912px) {
  .skill {
    margin-top: 290px;
    margin-right: 150px;
  }
  .Course-skills {
    margin-top: 10px;
    width: 700px;
    border-top: none;
  }
}
