.skill {
    margin: 20px auto;
    display: grid;
}

.Course-skills {
    border-top: 2px solid #ccc;
    width: 800px;
    display: grid;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;

}

.skills-container {
    display: grid;
}

.skills p {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #334155;
}

.skills h1{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}