.Programming-Exercises {
    width: 800px;
    display: grid;
    padding: 0;
    text-align: left;
}

.p{
    color: #334155;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    max-width: 800px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
}

.Exercises {
    width: 295px;
    margin:0 0 0 12px;
}

.Exercises h2 {
color: #0F172A;
font-size: 20px;
font-weight: 600;
}

.Exercises p {
    color: #2563EB;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    font-family: inter;
    margin: 0;
}

.block {
    margin:20px 0 20px 12px;
    display: flex;
    gap: 20px;
}

.block-right strong {
    color: #0F172A;
    font-size: 14px;
    font-weight: 400;
}

.Instructor{
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) {

    .Programming-Exercises {
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 468px;
        padding-top: 90px;
    }

    .Exercises {
        margin-left: 0;
        margin-top: 90px;
    }
}