.Programming-Exercises {
width: 700px;
height: 368px;
border-radius: 12px;
margin-left:  35px;
background: rgb(247, 247, 247);
display: flex;
gap: 20px;
}

.Programming-Exercises img{
    width: 500px;
height: 320px;
padding-top: 45px;
}
.Exercises{
    width: 295px;
height: 260px;
margin-left: 20px;
margin-top: 54px;
}
.Exercises h2{
color: rgb(45, 47, 49);
font-family: Georgia;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.Exercises p{
    color: rgb(112, 112, 112);
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0%;
text-align: left;
}
.Exercises button{
    width: 295px;
height: 52px;
border-radius: 4px;
background: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 140%;
letter-spacing: 0%;
text-align: left;

display: flex;
justify-content: center;
align-items: center;
border: none;
margin-top: 24px;
}

@media (max-width: 600px) {
    .Programming-Exercises {
        flex-direction: column; 
        align-items: center;
        width: 400px;
        height:468px;
        padding-top: 90px;
    }
    
    .Programming-Exercises img {
        width: 424px;
height: 278px;
        margin-top: -600px;
    }
    
    .Exercises {
        margin-left: 0; 
        margin-top: 90px; 
    }
}