.v1 {
  width: 1400px;
  height: auto;
  margin: 0px 90px 64px;
  padding: 0px 48px;
  position: relative;
  top: 120px;
}

.v2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  box-shadow: 0 0 2px #d1d7dc;
  padding: 24px;
  text-align: center;
}

.v2 img {
  width: 240px;
  height: 180px;
  flex-shrink: 0;
}

.cart1 {
  font-family: var(--font-stack-heading);
    text-align: left;
    color: #2d2f31;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
}

.cart2 {
  font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #334155;
    margin-top: 30px;
    margin-bottom: 6px;
}

.cart3 {
  color: #2d2f31;
  margin: 0px 0px 24px;
  font-family: var(--font-stack-text);
  font-weight: normal;
  font-size: inherit;
  max-width: 400px;
  flex-shrink: 0;
  text-align: center;
}

.cart4 {
  width: 200px;
  height: 50px;
  background-color: rgb(175, 36, 239);
  color: white;
  font-size: 17px;
  font-weight: 700;
  border: none;
  flex-shrink: 0;
}

.addCart {
  width: 1340px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 100px;

  hr {
    border: 1px solid #E2E8F0;
  }
}

.leftCart {
  width: 880px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;

  span {
    text-decoration: none;
    cursor: auto;
    margin: 0;
  }

  h1 {
    font-family: var(--font-stack-heading);
    text-align: left;
    color: #2d2f31;
    font-size: 32px;
    font-weight: 600;
    line-height: 41.6px;
  }

  .countPro {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #334155;
    margin-top: 30px;
    margin-bottom: 6px;
  }

  hr {
    margin: 0;
    margin-bottom: 24px;
  }

  .aboutCarts {
    display: grid;
    gap: 16px;

    .aboutCart {
      text-align: left;
      display: flex;
      width: 880px;
      padding: 16px 24px 16px 16px;
      border-radius: 8px;
      border: 1px solid #E2E8F0;

      img {
        width: 192px;
        height: 108px;
        gap: 0px;
        border-radius: 4px;
        opacity: 0px;
      }

      .description {
        margin-left: 8px;
        flex-grow: 1;

        h4 {
          font-size: 18px;
          font-weight: 600;
          line-height: 28.8px;
          margin: 0;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          color: #64748B;
          margin: 0;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 2px;
          margin-top: 8px;
          margin-bottom: 8px;

          span {
            font-size: 16px;
            font-weight: 500;
            line-height: 19.2px;
            color: #FEC84B;
            margin: 0;
            margin-left: 3px;
          }

          .star {
            width: 15.6px;
            height: 15.01px;
            color: #FEC84B;
            cursor: pointer;
          }

          .p {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            margin-left: 4px;
            margin: 0;
          }
        }

        .btns {
          button {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            border: none;
          }

          .save-button {
            color: #3B82F6;
          }

          .remove-button {
            color: #DC2626;
            border-left: 1px solid #0000001F;
          }
        }
      }

      .price {
        span {
          font-size: 24px;
          font-weight: 600;
          line-height: 28.8px;
          text-align: right;
          color: #000000;
        }
      }
    }
  }
}

/* ------------- */

.cartOrder {
  width: 400px;
  flex-shrink: 0;
  position: sticky;
  top: 193px;

  .order-details {
    width: 330px;
    margin: auto;

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align: left;
    }

    .details-text {
      width: 330px;
      padding: 16px;
      border: 1px solid #E2E8F0;
      background: #F8FAFC;
      border-radius: 8px;

      .top {
        display: flex;
        justify-content: space-between;

        .left {
          text-align: left;
          gap: 16px;

          p {
            font-size: 16px;
            font-weight: 400;
            line-height: 25.6px;
            color: #0F172A;

          }
        }

        .right {
          text-align: right;
          gap: 16px;

          p {
            color: #0F172A;
            font-size: 18px;
            font-weight: 600;
            line-height: 28.8px;
          }
        }
      }

      .end {
        display: flex;
        justify-content: space-between;

        h6 {
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
        }

        h5 {
          font-size: 20px;
          font-weight: 600;
          line-height: 30px;
          text-align: right;
        }
      }
    }
  }

  button {
    width: 330px;
    height: 48px;
    border-radius: 8px;
    margin-top: 16px;
    background: #020617;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.4px;
    color: #FFFFFF;
    border: none;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .v1 {
    margin: 0px 0px 64px;
    padding: 0px 48px;
  }

  .v2 {
    width: 928px;
    height: auto;
  }

  .addCart {
    width: 928px;
    margin: 0px 0px 64px;
    padding: 0px 48px;
  }

  .leftCart {
    width: 580px;
  }

  .leftCart h1 {
    font-size: 2em;
    line-height: 1.2;
  }

  .leftCart span {
    font-size: 1.1em;
  }

  .aboutCart {
    width: 455px;
    align-items: flex-start;
    margin-top: 5px;
    padding-top: 5px;
  }

  .aboutCart-cart {
    flex-direction: column;
    align-items: flex-start;
    height: 140px;
    gap: 0px;
    padding: 0;
    margin: 0;
  }

  .aboutCart img {
    width: 120px;
    height: 68px;
  }

  .description {
    width: 326px;
    gap: 0px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .description span {
    margin-top: 0;
    width: 302px;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 700;
    word-spacing: -2px;
    word-wrap: break-word;
    margin-bottom: 0px;
    padding: 0;
  }

  .author-price-container {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .description p {
    width: 150px;
    font-weight: 400;
    font-size: 0.75rem;
    padding: 0;
  }

  .description .price {
    text-align: left;
  }

  .price span {
    width: 65px;
  }

  .remove-container {
    margin: 0;
  }

  .remove-button {
    align-self: flex-start;
    margin-left: 0px;
    margin-top: 0;
    padding: 0;
  }

  .price {
    margin: 0;
    flex-shrink: 0;
    align-self: flex-start;
    height: 24px;
  }

  .price span {
    color: #a435f0;
  }

  .cartOrder {
    width: 300px;
    padding-left: 0px;
    margin-right: 0px;
  }

  .cartOrder_price_sum {
    font-size: 1.1rem;
  }

  .cartOrder_price_sum_text {
    line-height: 34px;
    letter-spacing: 0;
    font-size: 1.7rem;
    text-decoration: none;
  }

  .cartOrder_placing {
    margin-top: 0px;
    width: 300px;
    height: 48px;
  }
}

// @media (max-width: 768px) {
//   .addCart {
//     margin: 0 0 20px;
//     padding: 0 48px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   .leftCart {
//     width: 1100px;
//     margin: 0;
//     padding: 0 16px;
//   }
//   .leftCart h1 {
//     margin: 10px 0;
//   }

//   .leftCart span {
//     margin: 0;
//   }

//   .description {
//     margin-left: 25px;
//   }

//   .description span {
//     max-width: 60rem;
//     line-height: 1;
//     letter-spacing: 0;
//     font-weight: 700;
//     word-spacing: -4px;
//     word-wrap: break-word;
//   }

//   .description p {
//     font-weight: 500;
//     line-height: 1.4;
//   }

//   .description .price {
//     margin: 10px 30px 15px 0;
//     text-align: left;
//   }

//   .remove-button {
//     padding: 10px 15px;
//   }

//   .cartOrder {
//     width: 300px;
//     padding-left: 0px;
//     margin-right: 0px;
//   }

//   .cartOrder_price_sum_text {
//     font-weight: 700;
//     line-height: 1.2;
//     letter-spacing: 0;
//     color: #2d2f31;
//     text-decoration: none;
//   }
//   .cartOrder_placing {
//     margin-right: 0px;
//   }
// }