.v1 {
  width: 1400px;
  height: auto;
  margin: 0px 90px 64px;
  padding: 0px 48px;
  position: relative;
  top: 120px;
}

.v2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  box-shadow: 0 0 2px #d1d7dc;
  padding: 24px;
  text-align: center;
}
.v2 img {
  width: 240px;
  height: 180px;
  flex-shrink: 0;
}

.cart1 {
  font-family: var(--font-stack-heading);
  text-align: left;
  color: #2d2f31;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 3rem;
  margin-bottom: 40px;
}
.cart2 {
  width: 600px;
  margin-right: 1010px;
  padding-top: 3px;
  font-family: var(--font-stack-heading);
  text-align: left;
  font-weight: 700;
  color: #2d2f31;
  text-decoration: none;
  margin-top: 0;
}
.cart3 {
  color: #2d2f31;
  margin: 0px 0px 24px;
  font-family: var(--font-stack-text);
  font-weight: normal;
  font-size: inherit;
  max-width: 400px;
  flex-shrink: 0;
  text-align: center;
}
.cart4 {
  width: 200px;
  height: 50px;
  background-color: rgb(175, 36, 239);
  color: white;
  font-size: 17px;
  font-weight: 700;
  border: none;
  flex-shrink: 0;
}

.addCart {
  width: 1340px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 100px;
}

.leftCart {
  width: 880px;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

.leftCart h1 {
  font-family: var(--font-stack-heading);
  text-align: left;
  color: #2d2f31;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 3rem;
  margin-bottom: 40px;
}

.leftCart span {
  font-family: var(--font-stack-heading);
  text-align: left;
  font-weight: 700;
  margin-top: 30px;
  color: #2d2f31;
  text-decoration: none;
  margin-top: 0;
}

.aboutCart {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  align-items: flex-start;
  border-top: 1px solid #a0a4a8;
  margin-top: 30px;
  padding-top: 20px;
}
.aboutCart img {
  width: 138px;
  height: 112px;
}

.aboutCart-cart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: auto;
}

.description {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 400px;
  margin-right: 60px;
}

.description span {
  width: 100%;
  text-align: left;
  font-family: var(--font-stack-heading);
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 20px;
  margin: 10px 0;
  font-weight: 600;
  color: #212529;
  word-wrap: break-word;
}

.description p {
  color: #212529;
  font-family: var(--font-stack-text);
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2rem;
  text-align: left;
  margin: 10px 0;
}

.remove-container {
  margin: 0 10px;
}
.remove-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: inherit;
  color: #5022c3;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  margin-left: 40px;
}

.remove-button:hover {
  background-color: initial;
}

.author-price-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.price {
  margin: 10px 0 15px 0;
  text-align: left;
}
.price span {
  color: #a435f0;
}

/* ------------- */

.cartOrder {
  width: 400px;
  flex-shrink: 0;
  position: sticky;
  top: 100px;

  .cartOrder-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 125px;
  }
}
.cartOrder_price_text_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.cartOrder_price_sum {
  margin-bottom: 5px; /*отступ снизу, чтобы отделить текст */
  color: #6a6f73;
  font-family: var(--font-stack-text);
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.6rem;
  text-align: left;
}

.cartOrder_price_sum_text {
  font-family: var(--font-stack-heading);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 2rem;
  color: #2d2f31;
  text-decoration: none;
}

.cartOrder_placing {
  margin-top: 15px; /*отступ сверху, чтобы отделить кнопку */
}

.cartOrder .cartOrder_placing button {
  width: 300px;
  height: 48px;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  max-width: 100%;
  min-width: 8rem;
  padding: 0 1.2rem;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  font-family: var(--font-stack-heading);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: 1rem;
  background-image: none;
  box-sizing: border-box;
  background-color: #a435f0;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .v1 {
    margin: 0px 0px 64px;
    padding: 0px 48px;
  }
  .v2 {
    width: 928px;
    height: auto;
  }

  .addCart {
    width: 928px;
    margin: 0px 0px 64px;
    padding: 0px 48px;
  }

  .leftCart {
    width: 580px;
  }

  .leftCart h1 {
    font-size: 2em;
    line-height: 1.2;
  }

  .leftCart span {
    font-size: 1.1em;
  }
  .aboutCart {
    width: 455px;
    align-items: flex-start;
    margin-top: 5px;
    padding-top: 5px;
  }

  .aboutCart-cart {
    flex-direction: column;
    align-items: flex-start;
    height: 140px;
    gap: 0px;
    padding: 0;
    margin: 0;
  }

  .aboutCart img {
    width: 120px;
    height: 68px;
  }

  .description {
    width: 326px;
    gap: 0px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .description span {
    margin-top: 0;
    width: 302px;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 700;
    word-spacing: -2px;
    word-wrap: break-word;
    margin-bottom: 0px;
    padding: 0;
  }

  .author-price-container {
    margin-top: 0;
    margin-bottom: 0px;
  }

  .description p {
    width: 150px;
    font-weight: 400;
    font-size: 0.75rem;
    padding: 0;
  }

  .description .price {
    text-align: left;
  }
  .price span {
    width: 65px;
  }

  .remove-container {
    margin: 0;
  }
  .remove-button {
    align-self: flex-start;
    margin-left: 0px;
    margin-top: 0;
    padding: 0;
  }

  .price {
    margin: 0;
    flex-shrink: 0;
    align-self: flex-start;
    height: 24px;
  }
  .price span {
    color: #a435f0;
  }

  .cartOrder {
    width: 300px;
    padding-left: 0px;
    margin-right: 0px;
  }

  .cartOrder_price_sum {
    font-size: 1.1rem;
  }

  .cartOrder_price_sum_text {
    line-height: 34px;
    letter-spacing: 0;
    font-size: 1.7rem;
    text-decoration: none;
  }
  .cartOrder_placing {
    margin-top: 0px;
    width: 300px;
    height: 48px;
  }
}

// @media (max-width: 768px) {
//   .addCart {
//     margin: 0 0 20px;
//     padding: 0 48px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   .leftCart {
//     width: 1100px;
//     margin: 0;
//     padding: 0 16px;
//   }
//   .leftCart h1 {
//     margin: 10px 0;
//   }

//   .leftCart span {
//     margin: 0;
//   }

//   .description {
//     margin-left: 25px;
//   }

//   .description span {
//     max-width: 60rem;
//     line-height: 1;
//     letter-spacing: 0;
//     font-weight: 700;
//     word-spacing: -4px;
//     word-wrap: break-word;
//   }

//   .description p {
//     font-weight: 500;
//     line-height: 1.4;
//   }

//   .description .price {
//     margin: 10px 30px 15px 0;
//     text-align: left;
//   }

//   .remove-button {
//     padding: 10px 15px;
//   }

//   .cartOrder {
//     width: 300px;
//     padding-left: 0px;
//     margin-right: 0px;
//   }

//   .cartOrder_price_sum_text {
//     font-weight: 700;
//     line-height: 1.2;
//     letter-spacing: 0;
//     color: #2d2f31;
//     text-decoration: none;
//   }
//   .cartOrder_placing {
//     margin-right: 0px;
//   }
// }
