.aback {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #fefefe;
  position: fixed;
  z-index: 999;

}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: #fefefe;
  width: 100%;
  max-width: 1280px;



  h2 {
    width: 130px;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    color: #333;

    a {
      color: purple;
      padding-top: 20px;
      padding-bottom: 20px;
      text-decoration: none;
    }
  }
}

.buttons {
  display: flex;
  gap: 14px;

  button {
    color: #2d2f31;
    font-size: 16px;
    font-weight: 500;
    border: none;
  }
}

#active-btn {
  position: relative;
  display: flex;
  gap: 10px;
}

#active-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(151, 13, 151);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#active-btn:hover::after {
  transform: scaleX(1);
}

#search {
  flex: 1;
  display: flex;
  justify-content: center;

  button {
    margin-left: 0;
    border-radius: 0px 7px 7px 0px;
  }

  input {
    height: 48px;
    margin-right: 0;
  }
}

.btn-outline-secondary {
  padding: 15px 15px 15px 15px !important;
  margin-top: 10px;
  margin-left: 5px;
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;


  .icon__image {
    width: 120px;
    height: 50px;
  }
}

.sign-up {
  background: #2d2f31;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 14px 15px 14px 15px;
}

.sign-up:hover {
  background: gray;
}

.login {
  padding: 13px 12px;
  background: #f2f2f2;
  border-radius: 4px;
}

.login:hover {
  background: #2d2f319a;
  color: rgba(255, 255, 255, 0.899);
  transition: 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .head {
    width: 100%;
    align-items: center;
    padding: 14px 20px;
    gap: 10px;

    h2 {
      font-size: 18px;
      width: 110px;
    }
  }

  .buttons {
    display: flex;
    gap: 10px;
  }

  #active-btn {
    margin-right: 10px;
    font-size: 13px;
    gap: 6px;
    width: 90px;
  }

  .icon {
    position: relative;
    display: flex;
    align-items: center;
  }

  .icon__image {
    width: 75px !important;
    height: 35px !important;
  }

  .sign-up {
    height: 35px;
    width: 100%;
    font-size: 14px !important;
    padding: 8px 16px;
  }

  .login {
    width: 100%;
    font-size: 10px !important;
    padding: 10px 10px;
  }

  .input-group {
    display: flex;
    width: 100%;
    max-width: 300px;
  }

  .btn-outline-secondary {
    height: 35px;
  }

  .cate-btn {
    width: 100%;
    height: 37px;
    padding: 5px 10px !important;
  }

  #search {
    width: 100% !important;

    .form-control {
      width: 100% !important;
    }
  }

  .input-group {
    display: flex;
    align-items: center;
    width: 100%;

    input {
      width: 100%;
      height: 35px !important;
    }
  }
}

.cart-count {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(146, 49, 211);
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  bottom: 37px;
  left: 78px;
  text-decoration: none;
}

#search {
  flex-grow: 1;
  transition: width 0.3s ease;
  width: 100%;

  .input-group {
    width: 100%;

    input {
      width: 100%
    }
  }
}

.expanded {
  .input-group {
    width: 100%;
  }
}