.courses-container {
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-top: 100px;
}

.courses {
  width: 690px;
  height: 175px;
  display: flex;
  gap: 10px;
  margin: 15px auto;
}

.courses-left img {
  width: 400px;
  height: 170px;
}

.courses-right {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.courses-h1 {
  display: flex;
  gap: 27px;
}

.courses-h1 h2 {
  font-size: 13px;
  font-weight: 500;
  color: black;
}

.courses-h1 p {
  font-size: 10px;
  color: black;
}

.courses-p {
  display: flex;
  gap: 30px;
  color: rgb(148, 147, 147);
}

.courses-p p {
  font-size: 10px;
  text-align: left;
  margin-top: -6px;
}

.courses-p h3 {
  font-size: 10px;
  padding-right: 13px;
  text-decoration: line-through;
}

.courses-3text {
  margin-top: -10px;
}

.courses-3text p {
  font-size: 10px;
  text-align: left;
  margin-top: 0px;
  color: grey;
}

.courses-flex {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
}

.star-5 {
  font-size: 14px;
  margin-top: 2px;
}

/* Стили для экранов 768px и меньше */
@media screen and (max-width: 768px) {
  .courses-container {
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 15px;
    padding: 10px;
    margin-top: 100px;
    overflow-x: auto; /* Включение горизонтального скролла */
    overflow-y: hidden; /* Отключение вертикального скролла */
    -webkit-overflow-scrolling: touch;
    padding-bottom: 200px;
  }

  .courses {
    flex-shrink: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
  }

  .courses-left img {
    width: 100%;
    height: auto;
  }

  .courses-right {
    text-align: center;
  }

  .courses-h1 h2 {
    font-size: 14px;
  }

  .courses-h1 p {
    font-size: 12px;
  }

  .courses-p p {
    font-size: 12px;
  }

  .courses-p h3 {
    font-size: 12px;
  }

  .courses-flex h3 {
    font-size: 14px;
  }

  .courses-flex p {
    font-size: 12px;
  }

  .courses-3text p {
    font-size: 12px;
  }
}
