.courses {
    width: 690px;
    height: 175px;
    display: flex;
    gap: 10px;
    margin: 15px auto;
}

.courses-h1 {
    display: flex;
    gap: 27px;
}

.courses-h1 h2 {
    font-size: 13px;
    font-weight: 500;
    color: black;
    text-align: left;
}

.courses-h1 p {
    font-size: 10px;
    color: black;
    margin-right: 14px;

}

.courses-p {
    display: flex;
    gap: 30px;
    color: rgb(148, 147, 147);
}

.courses-p p {
    font-size: 10px;
    text-align: left;
    margin-top: -6px;

}

.courses-p h3 {
    font-size: 10px;
    padding-right: 13px;
    text-decoration: line-through;

}

.courses-3text p {
    font-size: 10px;
    text-align: left;
    color: grey;
    margin-bottom: -8px;
}

.courses-3text {
    margin-top: -10px;
}

.courses-flex {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
}

.courses-flex h3 {
    font-size: 12px;
    margin-top: 10px;
}

.courses-flex p {
    font-size: 10px;
}

.star-5 {
    font-size: 14px;
    margin-top: 2px;
}

.courses-3text p {
    font-size: 10px;
    text-align: left;
    margin-top: 0px;
    color: grey;
}

.courses-left img {
    width: 400px;
    height: 170px;
}

.courses-right {
    border-bottom: 1px solid gray;
}