.register {
  display: flex;
}
.register-right h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 200px;
}

.register-right input {
  width: 400px;
  height: 50px;
  margin-top: 10px;
}

.register-right {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 45px;
}
.register-right strong {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .register {
    flex-direction: column;
  }
  .register-right {
    padding-top: 20px;
    margin-top: 100px;
  }
  .input-container {
    margin-top: auto;
  }
  .register-left img {
    width: 400px;
    height: 200px;
  }
  .register-right input {
    width: 380px;
    height: 40px;
  }
}
