.registerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}
.register-right h1 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  margin-right: 200px;
}
.register-right input {
  width: 380px;
  height: 50px;
  margin-top: 10px;
}

.register-right {
  display: flex;
  flex-direction: column;
  // margin-right: 30px;
}
.register-right strong {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .registerLogin {
    flex-direction: column;
    justify-content: end;
  }
  .register-right {
    margin-right: 855px;
  }
  .register-right input {
    width: 70%;
    height: 30px;
    margin-left: 30px;
  }
  .register-right strong {
    margin-right: 40%;
    font-size: 10px;
  }
}
