.header-instructor {
  text-align: right;
  margin-top: 10px;
}

.student {
  font-size: 24px;
  margin-top: 20px;
  color: black;
}

.icon-user {
  margin-left: 20px;
  font-size: 30px;
  color: black;
}