.Buttons {
  text-align: left;
  display: flex;
  gap: 20px;

  button {
    padding: 18px 21px;
    border-radius: 8px;
    width: 148px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
  }

  button:hover {
    background-color: #eff6ff;
    border-color: #3399ff;
  }
}

@media screen and (max-width: 432px) {
  .Buttons {
    width: 300px;
    margin-left: 10px;
    margin-top: 570px;
    button {
      width: 70px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
    }
  }
}
@media screen and (width: 540px) {
  .Buttons {
    width: 300px;
    margin-left: 10px;
    margin-top: 640px;
    button {
      width: 70px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 8px;
    }
  }
}
@media screen and (width: 768px) {
  .Buttons {
    margin-top: 30px;
    button {
      width: 170px;
      font-size: 20px;
    }
  }
}
@media screen and (width: 820px) {
  .Buttons {
    margin-top: 30px;
    margin-left: 20px;
    button {
      width: 170px;
      font-size: 20px;
    }
  }
}
@media screen and (width: 1024px) {
  .Buttons {
    margin-top: 30px;
    button {
      width: 156px;
      font-size: 20px;
    }
  }
}
