.teacher{
    width: 600px;
    margin: 0 auto;
    padding: 50;
    margin-bottom: 100px;
}
.teacher h1{
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(1.8rem, calc(1.8rem +(2.4 - 1.8)* calc((100vw - 36rem) /(144 - 36))), 2.4rem);
    color: black;
    text-align: left;
}
.teacher h2{
    color: #5022c3;
    text-decoration: underline;
    text-align: left;
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    font-size: clamp(1.65rem, calc(1.65rem +(1.8 - 1.65)* calc((100vw - 36rem) /(144 - 36))), 1.8rem);
}
.teacher h3{
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    color: #6a6f73;
    text-align: left;
}
.aboutTeacher{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 30px;
}
#teach-img{
    width: 11.2rem !important;
    height: 11.2rem !important;
    border-radius: 50%;
}
.aboutStatistic{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
.aboutStatistic img{
    width: 20px;
    height: 20px;
}
.aboutStatistic strong{
    color: #2d2f31;
    font-family: var(--font-stack-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.4rem;
    text-align: left;
}
.teacher p{
    text-align: left;
    color: #6a6f73;
}
.toggle-button{
    margin-right: 500px;
    color: #5022c3;
}