.teacher-profile {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: left;

    h1 {
        font-family: "Georgia", sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: #2D2F31;
    }

    .revis {
        display: flex;
        justify-content: space-between;
    }

    .reting-left {
        width: 70%; /* This gives more space to the left part */
    }

    .teachers-informetion {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;

        p {
            font-size: 14px;
            font-weight: 500;
            margin: 3px 0 0 5px;
        }
    }

    .star-row {
        display: flex;
    }

    .percentage {
        margin-left: 10px;
    }
}

.star-yellow {
    color: rgb(255, 196, 0);
    font-size: 22px;
}

.icon-star {
    font-size: 22px;
    margin-bottom: 10px;
}

.right-com{
    button{
        padding: 10px 24px;
        border-radius: 8px;
        border:1px solid #ccc;

    }
    button:hover{
        background-color: #ddd;
    }
}

.review-card{
    display: flex;
    border: 1px solid#ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px;
}

.info-review{
    width: 200px;
    height: 60px;
    display: flex;
    gap: 5px;
    align-items: center;

    img{
        width: 60px;
        height: 60px;
    }

    h3{
        font-size: 18px;
        font-weight: bold;
    }
}

.review-content{
    width: 600px;
}

.top-review{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    span{
        font-size: 18px;
        font-weight: 600;
    }
}

.review-date{
    margin: 3px 0 0 10px;
}