.Pythonskills{
width: 800px;
height: 310px;
border: 1px solid gray;
margin: 0 auto;
border-radius: 5px;

}
.Pythonskills h1{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-top: 30px;
    padding-left: 30px;    
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.skills {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-top: -20px;

}
.skills p {
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: left;
  
}

