#container-teachers-courses {
  display: flex;
  align-items: center;
  justify-content: center;

  .teachers-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 110px;
  }
}
