.container-courses-of-teacher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px ; 
  padding-left: 200px;
}
.teachers-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  align-items: center !important;

}
