.banner-container {
    padding-top: 150px;
    margin: 0 auto;
}

.banner-in img {
    height: 400px;
    width: 1340px;
    object-fit: cover;
}

.carousel {
    width: 1390px;
}

.carousel-control-next,
 .carousel-control-prev{
    width: 50px;
    height: 50px;
    margin-top: 320px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: 1px gray solid;
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}