.banner-container{
    margin: 0 auto;
}
.banner-in img{
    height: 400px;
    width: 1340px;
    object-fit: cover;
}
/* @media(max-width:375px) {
    .banner-in img{
        width: 375px;
        object-fit: cover;
    }
} */