.materials {
    padding: 20px 50px;
    width: 850px;
    
}

.materials h2 {
    font-weight: 600;
    font-size: 25px;
    text-align: left;
}

.materials__text {
    display: flex;
    justify-content: space-between;
}

.materials__text h4{
    font-size: 12px;
    color: #5022c3;
}

.div__mini {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 750px;
    height: 60px;
    background-color: #f1f1f2;
    border: 1px solid gray;
    padding: 10px 15px;
}
.document{
    font-size: 6px;
}
.mini__img {
    display: flex;
    align-items: center;
}

.mini__img button {
    background: none;
    border: none;
    font-size: 25px;
    margin-bottom: 10px;
}

.mini__img h3{
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}