.materials {
  width: 800px;
  margin-top: 10px;
  margin-left: 110px;
}

.materials h2 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.materials__text {
  display: flex;
  align-items: center;
  gap: 120px;
}

.materials__text h4 {
  font-size: 12px;
  color: #5022c3;
}

.div__mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  height: 70px;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 8px;
}
.document {
  font-size: 6px;
}
.mini__img {
  display: flex;
  align-items: center;
}

.mini__img button {
  background: none;
  border: none;
  font-size: 25px;
  margin-bottom: 10px;
}
.mini__img button:hover {
  background-color: white;
}

.mini__img h3 {
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin-top: 5px;
}

@media screen and (max-width: 432px) {
  .div__mini {
    width: 300px;
    margin-left: -120px;
    padding: 0;
  }
  .materials h2 {
    width: 30px;
    margin-top: 223px;
  }
  .mini__img h3 {
    font-size: 12px;
  }
  .div__mini h6 {
    font-size: 12px;
  }
  .materials {
    width: 220px;
    margin-left: 130px;
  }
}
@media screen and (width: 820px) {
  .div__mini {
    width: 700px;
  }
  .materials {
    margin-left: 30px;
  }
}
@media screen and (width: 1024px) {
  .div__mini {
    width: 700px;
  }
  .materials {
    margin-left: 20px;
  }
}
@media screen and (width: 768px) {
  .div__mini {
    width: 700px;
  }
  .materials {
    margin-left: 30px;
  }
}
